.footer {
    background-color: #324458;
    color: white;
    padding: 18px 20px;
    text-align: center;
    font-size: 1rem;
    margin-top: 40px;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.12);
    font-family: "Bebas Neue", sans-serif;
}

.footer-copy {
    display: block;
    margin-top: 4px;
    font-size: 0.85rem;
    opacity: 0.7;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .footer {
        font-size: 0.9rem;
        padding: 15px;
    }
}
