/* ======== HEADER (PC igual) ======== */
header {
  background-color: #324458;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.titulo{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.Icon-titulo {
  width: 60px;
  height: auto;
}

/* ======== BOTONES ======== */
.botones-inicio {
  display: flex;
  gap: 10px;
}

.botones-inicio button {
  background: #324458;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background 0.3s ease;
  font-family: "Bebas Neue", sans-serif;
}

button:hover {
  background: #2c3b4d;
}


/* =====================================================
   ======== RESPONSIVE (Pantallas pequeñas) ============
   ===================================================== */
@media (max-width: 768px) {

header {
    flex-direction: column;       /* Icono - Título - Botones */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

/* Centramos el div que contiene el icono */
header > div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Icon-titulo {
    width: 110px;
}

.titulo {
    margin: 0;
    font-size: 1.5rem;
}


.botones-inicio button {
    width: 90%;
    font-size: 1rem;
    padding: 10px;
    }
}
